<beans 
	xmlns = "http://www.springframework.org/schema/beans"
   xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd"
>

<bean id="std1" class="map_spring.QuestionClass" >
	<property name="question" value="Who developed JAVA?"></property>
	<property name="map">
		<map>
			<entry key="AAA" value="James Goslin"></entry>
			<entry key="BBB" value="Gavin king"></entry>
			<entry key="CCC" value="Rod Johnson"></entry>
		</map>
	</property>
</bean>

</beans>